
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #343a40; 
}
.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1300px;
  position: relative;
}

.banner-text {
  position: absolute; 
  top: 20%;
  left: 10%; 
  color: white; 
}

.banner-text h1 {
  font-size: 50px; 
  margin: 10px 0;
}

.banner-text .change-content {
  font-weight: bold;
  color: #ffc107; 
}

#btn1 button {
  background-color: #ffc107;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  transition: background-color 0.3s ease;
}

#btn1 button:hover {
  background-color: #e0a800; 
}

.banner-image {
  width: 100%; 
  max-width: 1500px; 
  height: auto;
  object-fit: cover;
}
.banner-image img {
  width: 100%;
  height: 100%;
  transition: none; /* Remove transition effect */
}

